<h1>About Us</h1>
<p>
  Windows Phone owners, on the same Wifi network, can play the classic tag game. Start the game to see the cross-hairs. Center the cross-hairs and click the shutter button for the kill. Your opponent will receive a notification that they've been tagged.
</p>